.all-filters {
    background-color: aliceblue;
    padding: 5px;
    float: left;
    width: 300px;

}

.catalogue {
    background-color: #ffffff;
    padding: 5px;
    width: 600px;
    float: left;

}
.catalogue .actions {
    color: #676767;
    text-align: center;

}
.all-filters .from {
    width: 100px;
}

.all-filters .to {
    width: 100px;
}

.all-filters .button {
    width: 200px;
    height: 30px;

}